/* Responsive */
@media (min-width: 1801px) {
  .container-fluid {
    padding-left: 80px;
    padding-right: 80px;
  }

  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1680px) and (max-width:1800px) {
  .container {
    max-width: 1440px;
  }

  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width:1680px) {
  .announcement-data p {
    font-size: 16px;
  }

  .section-heading h2 {
    font-size: 45px;
  }
}


@media (max-width: 1199px) {}

@media (max-width: 991px) {
  .logo {
    width: 100px;
    display: block;
  }

  .sticky .logo {
    width: 100px;
  }

  .nav_holder {
    padding: 10px 0;
  }

  .hdr_menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    transform: translateX(100%);
    background: #fff;
    overflow-y: auto;
    transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
    padding: 10px 15px 20px;
    z-index: 99;
  }

  .hdr_menu ul {
    padding-top: 50px;
  }

  .hdr_menu ul li {
    width: 100%;
    transition: all 0.4s ease-in-out;
  }

  .hdr_menu ul li.menu-item-has-children .sub-menu {
    display: block;
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    padding: 0px 10px 0;
    background-color: transparent;
    box-shadow: none;
    transform: none;
    transition: initial !important;
    -webkit-transition: initial !important;
  }

  .hdr_menu ul li.menu-item-has-children ul li {
    padding: 5px 0;
    line-height: 1.5;
  }

  .hdr_menu li {
    margin-right: 0;
    padding-right: 0;
    border: 0;
    margin-bottom: 0px;
  }

  .hdr_menu li a {
    font-size: 15px;
    font-weight: 400;
    display: block;
    color: #000000;
    padding: 5px 0;
  }

  .hdr_menu li a:hover {
    color: #688238 !important;
  }

  .hdr_menu li a::before {
    display: none;
  }

  .hdr_menu li:hover a {
    color: #000000 !important;
  }



  .hdr_menu li.menu-item-has-children .sub-menu a {
    color: #000;
    font-size: 15px;
  }

  .hdr_menu li.menu-item-has-children .sub-menu a:hover {
    color: #688238;
    padding-left: 0;
  }

  .hdr_menu li.menu-item-has-children.current-menu-item>a {
    color: #688238;
  }

  .hdr_menu li.menu-item-has-children.current-menu-item>a:hover {
    color: #688238;
  }

  .hdr_menu li>a::after {
    display: none;
  }

  .sticky .hdr_menu li.current-menu-item a {
    color: #688238;
  }

  .sticky .hdr_menu li:hover a {
    color: #688238;
  }

  .sticky .hdr_menu li a {
    color: #000000;
    background-color: transparent;
  }

  .menu_btn {
    width: 30px;
    display: block;
  }

  .menu_btn span {
    height: 2px;
    display: block;
    background: var(--primary-color);
    margin-left: auto;
    transition: 0.4s;
  }

  .menu_btn span:nth-child(2) {
    width: 80%;
  }

  .menu_btn span+span {
    margin-top: 5px;
  }

  .menu_trigger {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
  }

  .mobile_menu_active {
    overflow: hidden;
  }

  .mobile_menu_active .menu_trigger {
    right: 20px;
    top: 25px;
    transform: none;
    position: fixed;
  }

  .mobile_menu_active .hdr_menu {
    transform: translateX(0px);
  }

  .mobile_menu_active .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 30;
  }

  .mobile_menu_active .menu_btn span {
    background: #688238;
  }

  .mobile_menu_active .menu_btn span:first-child {
    transform: rotate(45deg);
  }

  .mobile_menu_active .menu_btn span:last-child {
    transform: rotate(-45deg);
  }

  .mobile_menu_active .menu_btn span:nth-child(2) {
    display: none;
  }

  .mobile_menu_active .menu_btn span+span {
    margin-top: -2px;
    width: 100%;
  }

  .mobile_menu_active .hddr_inr {
    position: static;
  }

  .mobile_menu_active .sticky .nav_holder {
    position: fixed;
  }

  .mobile_menu_active .nav_inr {
    position: static;
  }

  .overlay {
    overflow: hidden;
  }

  .nav_inr {
    position: relative;
  }

  .sub_menu_opener {
    display: block;
    pointer-events: none;
  }

  .responisve-logo {
    display: block;
    width: 270px;
  }

  .header-social-list-outer {
    display: none;
  }

  .header-social-list-outer.responsive-header-social-btn {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }

  .responsive-menu-additional-components {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .top-header-logo {
    display: none;
  }

  .top-header-outer .holder {
    justify-content: center;
  }

  .nav_holder .logo {
    display: block;
    width: 400px;
  }

  .header-contact-btn {
    margin-right: 50px;
  }

  .banner-service-card .banner-service-data h1,
  .banner-service-card .banner-service-data h2 {
    font-size: 45px;
  }

  .announcement-data {
    padding-left: 0;
    margin-top: 30px;
  }

  .specialized-treatment-data {
    padding-left: 0;
    margin-top: 30px;
  }

  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .outcomes-list {
    margin-top: 30px;
  }

  .outcomes-review-card {
    max-width: 100%;
    margin-top: 30px;
  }

  .leadershipSlider {
    padding-bottom: 70px;
  }

  .leadershipSlider .swiper-pagination-bullet {
    transition: width 0.4s ease;
  }

  .leadershipSlider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 10px;
    background-color: #1175bc;
  }

  .footer-cta-wrapper .holder {
    display: block !important;
  }

  .footer-cta-wrapper .data-left {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 26px;
  }

  .input-field {
    margin-bottom: 15px;
  }

  .section-padding {
    padding: 50px 0;
  }

  .section-heading h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .top-header-additional-data .contact-data {
    flex-direction: column;

  }

  .top-header-outer .contact-data a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header-contact-btn {
    margin-right: 50px;
    display: none;
  }

  .nav_holder .logo {
    max-width: 80%;
    padding-bottom: 25px;
  }

  .logo::before {
    max-width: 70%;
    background-size: contain;
  }

  .banner-service-card .banner-service-data h1,
  .banner-service-card .banner-service-data h2 {
    font-size: 30px;
  }

  .banner-service-card .banner-service-data {
    left: 15px;
    bottom: 15px;
  }

  .section-heading.text-center {
    padding-bottom: 22px;
    margin-bottom: 30px;
  }

  .section-heading.text-center::before {
    height: 22px;
  }

  .specialized-treatment-pic img {
    border-radius: 0 20px 0 20px;
  }

  .specialized-treatment-data h3 {
    font-size: 23px;
    margin-bottom: 15px;
  }

  .outcomes-review-card {
    padding: 30px 20px;
  }

  .outcomes-review-card .holder {
    flex-direction: column;
  }

  .outcomes-review-card .data-right {
    padding: 0;
    text-align: center;
  }

  .outcomes-review-card .data-left {
    padding: 0;
    border-right: 0;
    min-width: auto;
    text-align: center;
    margin-bottom: 25px;
  }

  .home-blog-listing-wrapper {
    padding: 70px 0;
  }

  .home-blog-listing-card {
    padding: 25px 15px;
  }

  .testimonial-slider-outer {
    padding: 30px 15px;
  }

  .featured-awards-wrapper .featured-awards-card {
    margin-bottom: 25px;
  }

  .footer-copyright-wrapper .holder {
    flex-direction: column;
    gap: 20px;
  }

  .footer-cta-wrapper .section-heading {
    text-align: center;
  }

  .footer-cta-wrapper .section-heading h2 {
    font-size: 28px;
  }

  .footer-cta-wrapper .data-right {
    display: block;
  }

  .footer-cta-wrapper .data-right .action-btn:not(:last-child) {
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
    margin-bottom: 20px;
  }

  .footer-cta-wrapper .data-right .btn {
    border-radius: 0;
    width: 100%;
  }

  .footer-top-row .footer-widget .footer-social {
    margin-left: 0;
  }
}